#siteNavigation {
    background-color: #111D4A;

    .navToggler {
        background-color: #fff;
        border-radius: 0.2rem;
    }

    a {
        color: #fff;

        &:hover {
            color: #fa6400;
            font-weight: 600;
            text-decoration: underline;
        }
    }
}